.icon-map-pin{
  color:#DA251C; 
  font-size: 40px;
}
.location-box{
	background-image: url(images/map.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}
.location-box p{
	color: #000000;
}
.counter-banner{
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('images/banner1.jpg');
	width: 100%;
	background-repeat: no-repeat;
     padding-top: 100px;
     padding-bottom: 100px;
}
.counter-area{
	display: flex;
	flex-wrap: wrap;
}

.counter-box{
	margin-top: 20px;
}

.counter-box h2{
  color: #ffffff;
  font-size: 50px;
}
.counter-box h4{
  color: #ffffff;
  font-size: 25px;
}
.counter-box h1{
  color: #ffffff;
  font-size: 50px;
}